<launch>
    <param name="use_sim_time" value="true"/>

    <include file="$(find warmup_project)/launch/empty_world_remap.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <!--<arg name="world_name" value="$(find warmup_project)/worlds/jackal_race.world"/>-->
        <arg name="world_name" value="$(find warmup_project)/worlds/garage.world"/>
    </include>

    <include file="$(find neato_simulator)/launch/includes/neato.launch.xml"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>
</launch>
